@font-face {
    font-family: "Pokémon-Classic";
    src: url(../assets/fonts/pokemon-classic.ttf);
}

@font-face {
    font-family: "Flexo-Regular";
    src: url("/assets/fonts/Flexo-Regular.ttf");
}

@font-face {
    font-family: "Tektur-Regular";
    src: url("/assets/fonts/tektur-regular.ttf");
}