*{box-sizing: border-box;}

/*------------------ colors ------------------*/
:root {
    --bg-color: rgb(244, 244, 244);
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(224, 15, 0);
    --tertiary-color: rgb(51, 51, 51);
    --link-color: rgb(200, 0, 0);
  }

/*------------------ grid ------------------*/ 
body {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
    'header' 'header' 'header'
    'main' 'main' 'main'
    'footer' 'footer' 'footer';
    min-height: 100vh;
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

nav {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


header h1 {
    font-size: 40px;
    font-family: "Tektur-Regular"; 
    color: azure;
}

nav {
    background-color: #f44336; 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    transition: transform 0.3s ease;
}

.logo:hover img {
    transform: scale(1.2);
}

nav li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
}

ul li a:hover {
    text-decoration: underline;
}

ul li a img {
    margin-right: 5px;
}

.presentPoke {
    margin-left: 20px;
}

.presentPoke img {
    margin-right: 5px;
}

/*-------footer-------*/
footer {
    background-color: var(--tertiary-color); 
    color: white; 
    padding: 20px;
    text-align: center;
}

.privacy-policy a {
    color: white;
    text-decoration: none;
}

.social-media a {
    margin-right: 10px; 
}

.social-media img {
    width: 30px;
    height: auto; 
}

/*--------battler-------*/

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.pokemon-container h2{
    font-size: 1.4rem;
    text-align:center;
}

h1 {
    font-size: 3rem;
    color: #595959; 
    margin-top: 2rem;
}


.pokemon-container {
    display: grid;
    justify-content:center;
    margin-bottom: 20px;
    
}

.player-image, .opponent-image{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    width: 600px;
    font-size: large;
    background-color: rgb(194, 191, 191);
}

.player-info, .opponent-info{
    display: grid;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    width: 600px;
    font-size: large;
    background-color: rgb(194, 191, 191);
}
.player-pokemon, .opponent-pokemon {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    width: 80%;
}

.opponent-info:nth-child(2){
    order: -1;
}

.attack-btn {
    background-color: #32d500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f44336;
}

.result {
    font-weight: bold;
    margin-top: 20px;
}

.player-pokemon img{
    width: 190px; 
    height: auto; 

}
.opponent-pokemon img{
    width: 150px; 
    height: auto;
}



/* --------------------------- landingspagina -----------------------------*/
.landing_header {
    background-color: #101014;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.landing_header h1 {
    margin: 3rem;
    font-size: 3.5rem;
}


#account_buttons {
    font-family: Roboto-Regular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.landing_main {
    font-family: Roboto-Regular;
    background-color: #000000;
    color: white;
}

#container_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem;
}

.landing_main h2 {
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.project {
    width: 20rem;
    text-align: center;
    padding-bottom: 5rem;
}

.project img {
    border-radius: 1rem;
    padding-bottom: 0.5rem;
}

#login_popup, #container_pokeguesser_image {
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#signin_popup {
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#login_content {
    height: 350px;
    width: 500px;
    background: #101014;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
}

#signin_content {
    height: 500px;
    width: 500px;
    background: #101014;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
}

#login_content h3, #signin_content h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    width: 90%;
}

.close_button {
    background: none;
    border: none;
    outline: none;
    margin-bottom: 2rem;
    color: white;
}

#login_content fieldset, #signin_content fieldset{
    width: 90%;
}

#login_content fieldset input, #signin_content fieldset input {
    margin: 0.7rem 0 2rem 0;
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 1rem;
    padding: 0.6rem;
}


#login_content label, #signin_content label {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

#popup_login_button, #popup_signin_button {
    background-color: #3a3a3a;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-left: 80%;
    border-color: #000000;
    border-style: solid;
}


/* --------------------------- pokeguesser -----------------------------*/
.pokeguesser_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeguesser_main h2 {
    font-size: 2rem;
    font-family: "Pokémon-Classic"; 
}

#pokeguesser_black {
    position: relative;
    left: 6rem;
    top: 4rem;
    width: 300px;
    height: 300px;
}

.pokeguesser_bg {
    background-image: url("../assets/images/pokemonguesserbackground.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 760px;
    height: 428px;
    border-radius: 10px;
    margin: 3rem 0 3rem 0;
}

#guess_input {
    font-family: "Roboto-Regular";
    text-decoration: none solid rgb(49, 49, 49);
    background-color: white;
    color: #000000;
    border: 3px solid #616161;
    padding: 5px 0 5px 10px;
    width: 20rem;
}

#guess_button {
    font-family: "Roboto-Regular";
    padding: 3px;
    background-color: #EE6B2F;
    border: 3px solid #616161;
    border-radius: 10px;
}


.pokeguesser_image {
    /* bron: https://www.pokemon.com/us/pokedex/eevee*/
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    background-color: #3a3a3a;
    color: white;
}


/*--------------pokedex--------------*/


main{
    background-color: var(--bg-color);
    border-radius: 15px;
    padding: 1rem;
}

h1{
    left: 50%;   
    
}

select{
    padding: 10px;
    background-color: rgb(46, 45, 45);
    color: white;
    border-radius: 15px;
}


#Pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

#Pokemon img{
    background-color: rgb(194, 191, 191);
    border-radius: 15px;
}

article{
    padding: 1rem;
}

/*------------------ teampage ------------------*/
#teams h1{
    font-size: 3rem;
    font-family: "Pokémon-Classic";
    margin: 1rem;
    margin-left: 5rem;
}

#teams h2{
    font-size: 3rem;
    text-align: left;
    font-family: "Pokémon-Classic";
    max-height: fit-content;
    margin-top: -0.5rem;
}

#teams h3{
    font-size: large;
    font-family: "Pokémon-Classic";
}

#teams ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: none;

    list-style: none;
    padding: 0;
    margin: 0;
}


#teams li{
    /*
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex: none;
    min-width: fit-content;*/
    
    height: 25rem;
    width: 25rem;
    margin: 1rem;
    padding: 1rem;
    padding-top: -5;
    background-color: rgb(209, 209, 209);
    border-radius: 10%;
}

#teams img{
   max-width: min-content; 
   max-height: min-content;
}



#teams p{
    font-size: 0.8rem;
    font-family: "Pokémon-Classic";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#teams a{
    transition-property: var(--bg-color);
}

#teams a:nth-child(1){
    color: green;
    margin-left: 5px;
}

#teams a:last-child{
    color: var(--secondary-color);
}

#teams .empty{
    color: var(--secondary-color);
    font-weight: bold;
}

#teams a:hover{
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.05);
    transition-property: "transform";
    transition-duration: 150ms;
    transition-timing-function: ease;
}
  