
/*------------------ grid ------------------*/ 
body {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
    'header' 'header' 'header'
    'main' 'main' 'main'
    'footer' 'footer' 'footer';
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}

header {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

header.h1 {
    font-size: 40;
    font-family: DM-sans;
    color:azure;
    
}