<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landingspagina</title>
    <link rel="icon" href="assets/images/icon-s.png">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="module" src="js/login.js" defer></script>
</head>
<body>
    <header class = "landing_header">
        <h1>Skibidi Programmers</h1>
        <div class = "account_dropdown">
            <button class = "account_dropdown_button"><i class="fa-regular fa-user"></i></button>
            <ul id = "account_buttons">
                <li><button id = "signin_button">Registratie</button></li>
                <li><button id = "login_button">Login</button></li>
            </ul>     
        </div>
    </header>