<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="assets/images/icon-pokeball.png">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/fonts.css">
    <script src="js/menu.js" defer></script>
    <script src="js/catcher.js" defer></script>

    <title>Pokédex</title>
</head>
<body>

  <header>
    <nav>
      <button id = "nav_menu_button">Menu</button>
      <a class="logo" href="/home"><img id="logo" src="assets/images/logo-pokemon.webp"></a>
      <ul>
          <li><a href="/home" >Home</a></li>
          <li><a href="/myteam">Teams</a></li>
          <li><a href="/pokedex">Pokédex</a></li>
          <li><a href="/comparison">Vergelijken</a></li>
          <li class = "catch_dropdown">
              <button class = "catch_dropdown_button">Vangen</button>
              <ul class = "catch_dropdown_content">
                  <li><a href="/safari">Safari</a></li>
                  <li><a href="/battle">Battler</a></li>
              </ul>
          </li>
          <li><a href="/guesser">Trainen</a></li>
      </ul>

      <section class="presentPoke">
          <a href="/pokedex" class="noPresentPoke">?</a>
      </section>

      <section id = "container_nav_menu">
        <div class = "nav_menu_content">
            <a href="/home" >Home</a>
            <a href="/myteam">Teams</a>
            <a href="/pokedex">Pokédex</a>
            <a href="/comparison">Vergelijken</a>
            <a href="/safari">Safari</a>
            <a href="/battle">Battler</a>
            <a href="/guesser">Trainen</a>
        </div>
    </section>
      
  </nav>
  </header>