<%- include("partials/header-L") %>
    <main class = "landing_password">
        <h2>Wachtwoord vergeten?</h2>
            <form action="" method="GET" id = "forgotpassword_content">
                <h3>Voer uw e-mail in om terug toegang tot uw account te krijgen</h3>
                <fieldset>
                    <label for="email">E-mailadres:</label>
                    <input type="email" name="e-mail" placeholder="e-mail" required><br>
                </fieldset>    
                <input id = "passwordrecoverybtn" type="submit" value="Heractivatiemail sturen">           
            </form>
    </main>
<%- include("partials/footer") %>