<%- include("partials/header") %>

<main id="pokedex">

    <h1>Pokédex</h1>

    <select name="" id="select-pokemon">
      <option value="0">Jouw Pokémon</option>
      <option value="1">Alle Pokémon</option>
    </select>

    <form id="zoek-pokemon">
      <input type="text" placeholder="Search.." name="search">
    </form>

    <section id="pokemon">
      <article>
       <a href="detailedpokemon.html"> <img src="/assets/images/001.png" alt=""></a>
        <p>Bulbasaur</p>
      </article>

      <article>
       <a href=""> <img src="/assets/images/002.png" alt=""></a>
        <p>Ivysaur</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/003.png" alt=""> </a>
        <p>Venusaur</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/004.png" alt=""> </a>
        <p>Charmander</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/005.png" alt="">  </a>
        <p>Charmeleon</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/006.png" alt=""> </a>
        <p>Charizard</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/007.png" alt=""> </a>
        <p>Squirtle</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/008.png" alt=""> </a>
        <p>Wartortle</p>
      </article>
    </section>
    <section id = "container_nav_menu">
      <div class = "nav_menu_content">
          <a href="home.html" >Home</a>
          <a href="myteam.html">Teams</a>
          <a href="pokedex.html">Pokédex</a>
          <a href="pokemoncomparison.html">Vergelijken</a>
          <a href="pokecatcher.html">Safari</a>
          <a href="battle.html">Battler</a>
          <a href="pokeguesser.html">Trainen</a>
      </div>
  </section>
  </main>

<%- include("partials/footer") %>