<%- include("partials/header") %>

    <main id="details">

      <h1>Pokemon info</h1>
        
      <section id="Detail">
                

        <article>
                <article>
                    <h2>Bulbasaur</h2>
                    <img id="Detail-foto" src="/assets/images/001.png" alt="foto van Bulbasaur">
                    <figcaption>https://pokeapi.co/</figcaption>
                    
                <form action="">
                    <input type="text">
                    <button>geef bijnaam</button>
                </form>
            </article>

            <article id="info">
                <h2>Pokédex data</h2>

                
                <section id="detail-list">
                    <ol>
                        <li>HP</li>
                        <li>Aanval</li>
                        <li>Special Aanval</li>
                        <li>Special Verdediging</li>
                        <li>Snelheid</li>
                        
                        <li>Type: </li>
                        <li>Soort:</li>
                        <li>Hoogte:</li>
                        <li>Gewicht:</li>
                        <li>Capaciteiten:</li>
                        <li>    </li>
                        <li>    </li>
                        <li>    </li>
                        <li>Gevangen op:</li>
                            
                        
                    </ol>

                    <ol id="detail-values">
                        <li>40</li>
                        <li>20</li>
                        <li>40</li>
                        <li>30</li>
                        <li>30</li>

                        <li>GRASS POISON</li>
                        <li>Seed Pokémon</li>
                        <li>0.7 m (2′04″)</li>
                        <li>6.9 kg (15.2 lbs)</li>
                        <li>1. Overgrow</li>
                        <li>Chlorophyll (hidden ability)</li>
                        <li>20/3/2024</li>
                        
                    </ol>
                </section> 
            </article>
            </article>


            <article id="evo-article">
                
            <h2>Evolution Path</h2>

            <section id="evolution">

                <li>
                    <img src="/assets/images/001.png" alt="">
                </li>
                <li>
                    <img class="arrow" src="/assets/images/right-arrow.png" alt="" height="100px"></li>
                 <li>
                    <img src="/assets/images/002.png" alt="">
                </li>
                <li>
                    <img class="arrow" src="/assets/images/right-arrow.png" alt="" height="100px"></li>
                <li>
                    <img src="/assets/images/003.png" alt="">
                </li>

            </section>
        </article>
    </main>

<%- include("partials/footer") %>

</body>
</html>