<%- include("partials/header") %>
    <main class="home-page">
        <aside>
            <ul class="keuzemenu">
                <h1>Maak keuze</h1>
                <li><a href="/pokedex"><button>Uw Pokemon</button></a></li>
                <li><a href="/guesser"><button>Trainen</button></a></li>
                <li><a href="/safari"><button>Pokemon Vangen</button></a></li>
                <li><a href="/comparison"><button>Pokemon Vergelijken</button></a></li>
                <li><a href="/battle"><button>Battle</button></a></li>
        </div>
        </aside>
        
    </main>
<%- include("partials/footer") %>

