<%- include("partials/header") %>
    <main class="home-page">
        <aside>
            <ul class="keuzemenu">
                <h1>Maak keuze</h1>
                <li><a href="myteam.html"><button>Teams</button></a></li>
                <li><a href="pokedex.html"><button>Uw Pokemon</button></a></li>
                <li><a href="pokeguesser.html"><button>Trainen</button></a></li>
                <li><a href="pokecatcher.html"><button>Pokemon Vangen</button></a></li>
                <li><a href="pokemoncomparison.html"><button>Pokemon Vergelijken</button></a></li>
                <li><a href="battle.html"><button>Battle</button></a></li>
        </div>
        </aside>
        <section id = "container_nav_menu">
            <div class = "nav_menu_content">
                <a href="home.html" >Home</a>
                <a href="myteam.html">Teams</a>
                <a href="pokedex.html">Pokédex</a>
                <a href="pokemoncomparison.html">Vergelijken</a>
                <a href="pokecatcher.html">Safari</a>
                <a href="battle.html">Battler</a>
                <a href="pokeguesser.html">Trainen</a>
            </div>
        </section>
    </main>
<%- include("partials/footer") %>

