<%- include("partials/header-L") %>

    <main class = "landing_main">
        <h2>Projecten</h2>
        <section id = "container_projects">
            <article class = "project">
                <figure>
                <a href = "/home"><img src = "assets//images/pokemon.webp" alt = "foto Pokémon project" width="168" height="300"></a>
                <figcaption>nintendo.be</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Pokémon</h3>
                    <p>Begin je avontuur in de wereld van Pokémon en wordt de eerste trainer die alle pokémons van generatie 1 verzamelt.</p>
                </section>
            </article>
            <article class = "project">
                <figure>
                <a class = "noAccess" href = ""><img src = "assets/images/fortnite.webp" alt = "foto fortnite project" width="168" height="300"></a>
                <figcaption>https://www.peakpx.com/en/hd-wallpaper-desktop-koljp</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Fortnite</h3>
                    <p>Fortnite is een online multiplayer-shooter met bouwmechanica, ontwikkeld door Epic Games. Spelers vechten in een Battle Royale, 
                        waarin ze strijden tot de laatste persoon of team overblijft.</p>
                </section>
            </article>
            <article class = "project">
                <figure>
                <a class = "noAccess"  href = ""><img src = "assets/images/mtg.webp" alt = "foto MTG project" width="168" height="300"></a>
                <figcaption>https://www.uhdpaper.com/2023/04/magic-gathering-magiccon-4k-8050i.html?m=1</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Magic The Gathering</h3>
                    <p>Magic The Gathering is een populair verzamelbaar kaartspel waarin spelers tovenaars zijn die spreuken en wezens gebruiken om elkaar te verslaan. 
                        Met een enorme verscheidenheid aan kaarten en strategieën biedt het spel een diepgaande en boeiende ervaring voor spelers van alle niveaus.</p>
                </section>
            </article>
            <article class = "project">
                <figure>
                <a class = "noAccess"  href = ""><img src = "assets/images/fifa.webp" alt = "foto Fifa project" width="168" height="300"></a>
                <figcaption>https://easportsfc.fandom.com/wiki/FIFA_22?file=FIFA_22_Cover.jpg</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Fifa</h3>
                    <p>Met Fifa test je jouw voetbalkennis met vragen over teams, spelers en legendarische momenten. 
                        Het is een leuke en uitdagende manier om je kennis over voetbal, geschikt voor zowel casual fans als fervente liefhebbers van voetbal.</p>
                </section>
            </article>
            <article class = "project">
                <figure>
                <a class = "noAccess"  href = ""><img src = "assets/images/lego.webp" alt = "foto LegoMasters project" width="168" height="300"></a>
                <figcaption>https://mobile.alphacoders.com/wallpapers/view/781189</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Lego Masters</h3>
                    <p>Lego Masters is een spel waarin spelers hun eigen unieke Lego-figuren kunnen creëren. Met aanpasbare opties zoals gezichtsuitdrukkingen, 
                        kleding en accessoires, kunnen spelers hun verbeelding de vrije loop laten en hun eigen stijl tot leven brengen.</p>
                </section>
            </article>
            <article class = "project">
                <figure>
                <a class = "noAccess"  href = ""><img src = "assets/images/lotr.webp" alt = "foto LOTR project" width="168" height="300"></a>
                <figcaption>https://www.uhdpaper.com/2022/04/one-ring-lords-of-rings-4k-8621h.html?m=1</figcaption>
                </figure>
                <section class = "project_description">
                    <h3>Lord Of The Rings</h3>
                    <p>De Lord of the Rings test je kennis van J.R.R. Tolkiens epische wereld. 
                        Ontdek hoeveel je weet over personages, locaties, gebeurtenissen en trivia uit de trilogie. </p>
                </section>
            </article>
        </section>
        <section id = "login_popup">
            <form action="/" method="post" id = "login_content">
                <h3>Login</h3>
                <button class = "close_button" formnovalidate>X</button>
                <fieldset>
                    <label for="username">Gebruikersnaam:</label>
                    <input type="text" name="username" placeholder="Gebruikersnaam" required><br>
                    <label for="password">Wachtwoord:</label>
                    <input type="password" name="password" placeholder="Wachtwoord" required><br>
                    <a href = "forgotpassword.html">Wachtwoord vergeten?</a>
                </fieldset>    
                <input id = "popup_login_button" type="submit" form = "login_content" value="Inloggen">           
            </form>
        </section>
        <section id = "signin_popup">
            <form action="/" method="post" id = "signin_content">
                <h3>Registratie</h3>
                <button class = "close_button" formnovalidate>X</button>
                <fieldset>
                    <label for="username">Gebruikersnaam:</label>
                    <input type="text" name="username_signin" placeholder="Gebruikersnaam" required><br>
                    <label for="password">Wachtwoord:</label>
                    <input type="password" name="password_signin" placeholder="Wachtwoord" id = "password" required><br>
                    <label for="password">Wachtwoord Bevestigen:</label>
                    <input type="password" name="password_signin_confirm" placeholder="Bevestig Wachtwoord" id = "confirm_password" required><br>
                </fieldset>    
                <input id = "popup_signin_button" type="submit" form = "signin_content" value="Registreren">           
            </form>
        </section>
        <% if (message) { %>
            <p class = "<%= message.type %>"><%= message.message %></p>
        <% } %>
    </main>

    
<%- include("partials/footer") %>