<%- include("partials/header") %>
    <main>
        <section id="teams">
            <h1>Mijn Teams</h1>

            <ol>
                <li>
                    <h2>Team 1</h2>
                    <h3>(6/6)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>                              
                    <img src="assets/images/002.png" alt="" width="115px">
                    <img src="assets/images/006.png" alt="" width="115px">
                    <img src="assets/images/005.png" alt="" width="115px">
                    <img src="assets/images/007.png" alt="" width="115px">
                    <img src="assets/images/003.png" alt="" width="115px">
                    <img src="assets/images/004.png" alt="" width="115px">
                </li>
                <li>
                    <h2>Team 2</h2>
                    <h3>(4/6)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>
                    <img src="assets/images/005.png" alt="" width="115px">
                    <img src="assets/images/007.png" alt="" width="115px">
                    <img src="assets/images/004.png" alt="" width="115px">
                    <img src="assets/images/008.png" alt="" width="115px">
                </li>
                <li>
                    <h2>Team 3</h2>
                    <h3 class="empty">(leeg)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>
                </li>
                <li>
                    <h2>Team 4</h2>
                    <h3 class="empty">(leeg)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>
                </li>
                <li>
                    <h2>Team 5</h2>
                    <h3 class="empty">(leeg)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>
                </li>
                <li>
                    <h2>Team 6</h2>
                    <h3 class="empty">(leeg)</h3>
                    <p>Pokémons  <a href="#">toevoegen</a>/<a href="#">verwijderen</a></p>
                </li>
            </ol>
        </section>
    </main>
<%- include("partials/footer") %>