<%- include("partials/header") %>

    <main class = "pokeguesser_main">
        <h2>Wie is deze pokémon?</h2>
        <section class = "pokeguesser_bg">
            
        </section>
        <form action="" method ="get">
            <label for = "guessName">Naam: </label>
            <input id = "guess_input">
            <button id = "guess_button"  value = "raden">Raad</button>
        </form>
        <section id = "container_pokeguesser_image">
            <article class = "pokeguesser_image">
                
            </article>
        </section>
    </main>

<%- include("partials/header") %>