<%- include("partials/header") %>

<main id="pokedex">

    <h1>Pokédex</h1>

    <select name="" id="select-pokemon">
      <option value="0">Jouw Pokémon</option>
      <option value="1">Alle Pokémon</option>
    </select>

    <form id="zoek-pokemon">
      <input type="text" placeholder="Search.." name="search">
    </form>

    <section id="pokemon">
      
      
      <%for(let pokemon of Pokemons) {%>
        <article>
          
          <a href=""> %> <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/ <%= i %>.png" alt=""></a>
        
          <p><%=pokemon.name %></p>
        </article>
        <% } %>

      <article>
       <a href="detailedpokemon.html"> <img src="/assets/images/001.png" alt=""></a>
        <p>Bulbasaur</p>
      </article>

      <article>
       <a href=""> <img src="/assets/images/002.png" alt=""></a>
        <p>Ivysaur</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/003.png" alt=""> </a>
        <p>Venusaur</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/004.png" alt=""> </a>
        <p>Charmander</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/005.png" alt="">  </a>
        <p>Charmeleon</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/006.png" alt=""> </a>
        <p>Charizard</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/007.png" alt=""> </a>
        <p>Squirtle</p>
      </article>

      <article>
        <a href=""> <img src="/assets/images/008.png" alt=""> </a>
        <p>Wartortle</p>
      </article>
    </section>
  </main>

<%- include("partials/footer") %>