<%- include("partials/header") %>

    <main class = "pokeguesser_main">
        <h2>Wie is deze pokémon?</h2>
        <section class = "pokeguesser_bg">
            
        </section>
        <form action="" method ="get">
            <label for = "guessName">Naam: </label>
            <input id = "guess_input">
            <button id = "guess_button"  value = "raden">Raad</button>
        </form>
        <section id = "container_pokeguesser_image">
            <article class = "pokeguesser_image">
                
            </article>
        </section>
        <section id = "container_nav_menu">
            <div class = "nav_menu_content">
                <a href="home.html" >Home</a>
                <a href="myteam.html">Teams</a>
                <a href="pokedex.html">Pokédex</a>
                <a href="pokemoncomparison.html">Vergelijken</a>
                <a href="pokecatcher.html">Safari</a>
                <a href="battle.html">Battler</a>
                <a href="pokeguesser.html">Trainen</a>
            </div>
        </section>
    </main>

<%- include("partials/header") %>