<%- include("partials/header") %>

    <main  id="vergelijken">

      <h1>Vergelijk Pokémon</h1>

  
  
      <section  id="vergelijking">

            <article class="Pokemons"> 
                <form>
                    <input type="text" placeholder="Search.." name="search">
                </form>
                <img src="/assets/images/001.png" alt="">
                <h3>Bulbasaur</h3>
                
                
                <section class="list">
                    <ol>
                        <li>Type: </li>
                        <li>HP</li>
                        <li>Attack</li>
                        <li>Special Attack</li>
                        <li>Special Defense</li>
                        <li>Speed</li>
                    </ol>

                    <ol class="values">
                        <li>Grass/Poison</li>
                        <li class="more">40 / +10</li>
                        <li class="less">20 / -20</li>
                        <li class="more">40 / +10</li>
                        <li class="less">30 / -10</li>
                        <li class="even">30 </li>
                        <li class="even">40</li>
                    </ol>
                </section>     
            </article>

            <article class="Pokemons">
                <form>
                    <input type="text" placeholder="Search.." name="search">
                </form>
                <img src="/assets/images/004.png" alt="">
                <h3>Charmander</h3>

                <section class="list">
                    <ol>
                        <li>Type: </li>
                        <li>HP</li>
                        <li>Attack</li>
                        <li>Special Attack</li>
                        <li>Special Defense</li>
                        <li>Speed</li>
                    </ol>

                    <ol class="values">
                        <li>Fire</li>
                        <li class="less">30 / -10</li>
                        <li class="more">40 / +20</li>
                        <li class="less">30 / -10</li>
                        <li class="more">40 / +10</li>
                        <li class="even">30</li>
                        <li class="even">40</li>
                    </ol>
                </section>            
            </article>
      </section>
    </main>

<%- include("partials/footer") %>