<%- include("partials/header") %>

<main id="pokedex">

    <h1>Pokédex</h1>

    <select name="" id="select-pokemon">
      <option value="0">Jouw Pokémon</option>
      <option value="1">Alle Pokémon</option>
    </select>

    <form id="zoek-pokemon">
      <input type="text" placeholder="Search.." name="search">
    </form>

    <section id="pokemon">
      
      
      <%for(let pokemon of pokemons) {%>
        <article>
          <a class="pokemon-image" href=""> %> <img src="<%= pokemon.sprites.other["official-artwork"].front_default %> " alt=""></a>
          <p><%=pokemon.name %></p>
        </article>
      <% } %>

    </section>
  </main>

<%- include("partials/footer") %>