*{box-sizing: border-box;}

/*------------------ colors ------------------*/
:root {
    --bg-color: rgb(244, 244, 244);
    --primary-color: rgb(18, 18, 18);
    --secondary-color: rgb(224, 15, 0);
    --tertiary-color: rgb(51, 51, 51);
    --link-color: rgb(200, 0, 0);
  }

/*------------------ grid ------------------*/ 
body {
    overflow-x: hidden;
    display: grid;
    grid-template-areas:
    'header' 'header' 'header'
    'main' 'main' 'main'
    'footer' 'footer' 'footer';
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
}

header {
    grid-area: header;
}
main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

figcaption {
    display: none;
}

nav {
    background-color: #1f1f1f;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Pokémon-Classic";
}

header h1 {
    font-size: 40px;
    font-family: "Tektur-Regular"; 
    color: azure;
}

nav {
    background-color: var(--secondary-color); 
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo img {
    width: 200px;
    transition: transform 0.3s ease;
    margin: 10px;
}

.logo:hover img {
    transform: scale(1.2);
}

.logo:active img{
    transform: scale(1);
}

nav li img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a, .catch_dropdown_button, #nav_menu_button {
    color: white;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #e87373;
    background-color: #f06060;
    padding: 5px;
    border-radius: 5px;
    font-family: "Pokémon-Classic";
    font-size: 15px;
}

.catch_dropdown {
    position: relative;
    display: inline-block;
}

.catch_dropdown_content {
    display: none;
    position: absolute;
    max-width: 110px;
    z-index: 1;
}

.catch_dropdown:hover .catch_dropdown_content {
    display: block;
}

.catch_dropdown:hover .catch_dropdown_button {
    background-color: #FF0000;
}


nav ul li a:hover, #nav_menu_button:hover {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
    transform: scale(1.1);
}

ul li a img {
    margin-right: 5px;
}

.presentPoke img{
    width: 70px;
    max-height: 70px;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    border: 3px solid var(--bg-color);
    margin-left: 70px;
    margin-bottom: -15px;
}

.presentPoke p{
    font-weight: bold;
    color: var(--bg-color);
    margin-bottom: 10px;
    margin-top: 0;
}

.noPresentPoke{
    font-size: xx-large;
    margin-left: 80px;
    color: #ffffff;
    background-color: var(--tertiary-color);
    border-radius: 60px;
    border: 3px solid var(--bg-color);
    padding: 1px;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 0;
    margin-top: 100px;
    text-decoration: none;
}

#nav_menu_button {
    display: none;
}

.nav_menu_content{
    display: none;
}

.nav_menu_content a{
    font-family: "Pokémon-Classic";
    color: white;
    display: inline-block;
    border: 1px solid #e87373;
    font-size: 15px;
    padding: 10px
}

.nav_menu_content a:hover {
    background-color: #e87373;
}

#current_pokemon_menu_container {
    font-family: "Pokémon-Classic"; 
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}


#current_pokemon_menu {
    height: 350px;
    width: 300px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
    border-radius: 1rem;
}

@media screen and (max-width: 1253px) {
    .nav_menu_content{
        height: 100vh;
        width: 350px;
        background: #FF0000;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .logo {
        padding-left: 3rem;
    }

    #nav_menu_button {
        display: block;
    }

    header nav ul {
        display: none;
    }

    #container_nav_menu {
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.6);
        min-width: 100vw;
        min-height: 100%;
        position: fixed;        
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .logo {
        width: 46%;
        padding-left: 0;
    }
    .presentPoke a{
        margin-left: 20px;
    }
}

/*-------footer-------*/
footer {
    background-color: rgba(23, 22, 22, 0.948); 
    color: white; 
    padding: 20px;
    text-align: center;
}

.privacy-policy a {
    color: white;
    text-decoration: none;
}

.social-media a {
    margin-right: 10px; 
}

.social-media img {
    width: 30px;
    height: auto; 
}

/*--------battler-------*/

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.pokemon-container h2{
    font-size: 1.4rem;
    text-align:center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: "Pokémon-Classic";
    font-size: large;
}

h1 {
    font-size: 3rem;
    color: #595959; 
    margin-top: 2rem;
    font-family: "Pokémon-Classic";
}

.container p{
    color: white;
    font-weight: bold;
}

.pokemon-container {
    display: grid;
    justify-content:center;
    margin-bottom: 20px;
    justify-items: center;
}

.player-image, .opponent-image{
    display: grid;
    justify-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    height: 300px;
    width: 650px;
    font-size: large;
    background-image: url('../assets/images/background-battle1.png');
    background-size: cover;
    padding: 20px;

}

.player-info{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 300px;
    width: 650px;
    font-size: large;
    background-image: url('../assets/images/background-battle4.png');
    background-size: cover;
}

.opponent-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 300px;
    width: 650px;
    font-size: large;
    background-image: url('../assets/images/background-battle4.png');
    background-size: cover;
}

.opponent-info h2, .player-info h2 {
    padding-top: 1rem;
    height: 30px;
    width: 100%;
    font-family: "Pokémon-Classic";
}

.opponent-info h3, .player-info h3 {
    font-size: 35px;
    margin-bottom: 1px;
}

.opponent-info-stat {
    padding: 0;
}


.player-pokemon, .opponent-pokemon {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    margin: 0 10px;
    width: 80%;
}

.opponent-info:nth-child(2){
    order: -1;
}

.attack-btn img{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8); 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.attack-btn img:hover {
    transform: scale(1.1); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8); 
}

.attack-btn img:active {
    transform: scale(0.9); 
    box-shadow: none; 
}


.result {
    font-weight: bold;
    margin-top: 20px;
}

.player-pokemon img{
    width: 190px; 
    height: auto; 

}
.opponent-pokemon img{
    width: 150px; 
    height: auto;
}

.player-life, .opponent-life {
    border: 1px solid black;
    border-radius: 10px;
    height: 20px;
    background-color: #32d500;
    width: 90%;
}

#search {
    justify-content: space-between;
}

.random-opponent{
    justify-content: right;
} 



#search input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: rgb(194, 191, 191);
}

#search button {
    padding: 8px 12px;
    background-color: #EC4C4C;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search button:hover {
    background-color: #FF0000;
}


.random-opponent:hover{
    transform: scale(1.1); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.8); 
}

.random-opponent:active{
    transform: scale(0.9); 
    box-shadow: none;
}


  @media screen and (max-width: 970px) {
    

    .player-pokemon, .opponent-pokemon{
        display: block;
        font-size: xx-large;
        padding: 16px;
        padding-right: 3rem;
    }
    .player-pokemon,
    .opponent-pokemon {
        width: 100%;
    }

    .opponent-info, .player-info{
        height: 300px;
        width: 650px;
    }

    .opponent-image, .player-image{
        padding: 5px;
        margin: 10px;
        height: 400px;
        width: 650px;
    }
    #pikachu{
        width: 220px;
    }
    #charmander{
        width: 180px;
    }
    
    .random-opponent {
        height: 40px;
        width: 80px;
        margin-right: 310px; 
        
    }

}

  @media screen and (max-width: 700px) {
    

    .player-pokemon, .opponent-pokemon{
        display: block;
        padding: 16px;
        padding-right: 3rem;
    }
    .player-pokemon, .opponent-pokemon {
        width: 100%;
        
    }

    .opponent-info, .player-info{
        height: 320px;
        width: 500px;
    }

    .opponent-image, .player-image{
        padding: 5px;
        margin: 10px;
        height: 320px;
        width: 500px;
    }

    #pikachu{
        width: 200px;
    }
    #charmander{
        width: 150px;
    }

    .random-opponent {
        height: 40px;
        width: 80px;
        margin-right: 145px; 
        
    }
    
}


/*----------------levensbar--------------*/

.pokemon-health-bar {
    width: 100%;
    height: 20px; 
    background-color: #ccc; 
    border-radius: 5px; 
    overflow: hidden; 
}

.own-health, .opponent-health {
    height: 100%; 
    border-radius: 5px; 
}

.own-health {
    background-color: #32d500; 
}

.opponent-health {
    background-color: #d53232; 
}


#container_battle_result {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000;
    padding: 20px;
    border-radius: 5px;
}

.battle_result_message p {
    margin: 0;
    font-size: 16px;
    color: #000;
}

.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
}





/*--------------animation----------------*/
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake-animation {
    animation: shake 0.5s;
}


/*-------------------------homepage------------------------*/
.keuzemenu h1{
    font-family: "Pokémon-Classic";
}

.keuzemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keuzemenu li a{
    padding: 10px;
    width: 500px;
    margin: 10px;
    height: 45px;
    text-align: center;
    border-radius: 7px;
    font-size: 15px;
    font-family: "Pokémon-Classic";
    
}

.keuzemenu li a:hover {
    background-color: #FF0000;
    border-color: #FF0000;
    color: #fff;
    transform: scale(1.1);
}

.home-page{
    background-image: url(../assets/images/pikachu.png), url(../assets/images/bulbasaur.png), url(../assets/images/charmander.png), url(../assets/images/eevee.webp);
    background-position: top left, top right, bottom left, bottom right;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 220px; 
    height: 100%; 
}


@media screen and (max-width:952px){

    .keuzemenu h1{
        font-family: "Pokémon-Classic";
    }
    
    .keuzemenu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .keuzemenu li a{
        padding: 10px;
        width: 500px;
        margin: 10px;
        height: 45px;
        text-align: center;
        border-radius: 7px;
        font-size: 15px;
        font-family: "Pokémon-Classic";
        
    }
    
    .keuzemenu li a:hover {
        background-color: #FF0000;
        border-color: #FF0000;
        color: #fff;
        transform: scale(1.1);
    }

    .home-page main{
        background-image: none;
    }
    
    
}
/* --------------------------- landingspagina -----------------------------*/
.landing_header {
    background-color: #101014;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.landing_header h1 {
    margin: 3rem;
    font-size: 3.5rem;
}

.account_dropdown_button i {
    display: none;
}

#account_buttons {
    font-family: Roboto-Regular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 3rem;
}

.landing_main, .landing_password {
    font-family: Roboto-Regular;
    background-color: #000000;
    color: white;
}

#container_projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5rem;
}

.landing_main h2 {
    font-family: "Flexo-Regular";
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

.project {
    background-color: #202020;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30rem;
    margin: 0 0 3rem 0;
}

.project img {
    border-radius: 1rem;
    margin: 0 2rem 0 0;

}

.project h3 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #848484;
}

.project p {
    color: #848484;
}

.project_description {
    width: 15rem;
}

#login_popup{
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#signin_popup {
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#login_content {
    height: 400px;
    width: 500px;
    background: #101014;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-right: 0;
    border-radius: 1rem;
}

#signin_content {
    height: 450px;
    width: 500px;
    background: #101014;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-right: 0;
    border-radius: 1rem;
}

#login_content h3, #signin_content h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    width: 90%;
    border-bottom: 1px solid #848484;
}

.close_button {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    color: var(--secondary-color);
}

#login_content fieldset, #signin_content fieldset{
    width: 90%;
}

#login_content fieldset input, #signin_content fieldset input {
    margin: 0.7rem 0 2rem 0;
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 1rem;
    padding: 0.6rem;
    color: rgb(169, 169, 169);
}


#login_content label, #signin_content label {
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

#login_content a {
    padding-left: 0.2rem;
    position: relative;
    bottom: 1.5rem;
    color: rgb(63, 63, 254);
    text-decoration: underline;
}

#popup_login_button, #popup_signin_button {
    background-color: #3a3a3a;
    border-radius: 0.5rem;
    padding: 0.6rem;
    margin-left: 72%;
    margin-right: 20%;
    border-color: #000000;
    border-style: solid;
}

#popup_signin_button {
    margin-left: 69%;
}

.succes {
    position: fixed;
    z-index: 2;
    top: 2rem;
    left: 46%;
    color: #ccc;
    background-color: #1D9BF0;
    border-radius: 10px;
    padding: 10px;
    animation: welcomeMessage 0s ease-in 4s forwards;
}

.error {
    position: fixed;
    z-index: 2;
    top: 2rem;
    left: 46%;
    color: #ccc;
    background-color: #c21300;
    border-radius: 10px;
    padding: 10px;
}

@keyframes welcomeMessage {
    to {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .landing_header h1 {
        font-size: 2.5rem;
    }

    .account_dropdown_button i {
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-family: FontAwesome;
        font-size: xx-large;
        padding: 5px;
        padding-right: 3rem;
    }

    .account_dropdown {
        position: relative;
        display: inline-block;
    }

    #account_buttons {
        font-family: Roboto-Regular;
        display: none;
        position: absolute;
        right: 1rem;
        background-color: #3a3a3a;
        width: 100px;
        min-width: 60px;
        min-height: 60px;
        z-index: 1;
        border-radius: 10px;
    }

    #account_buttons button {
        margin: 5px;
        padding: 5px;
        width: 90px;
        min-height: 30px;
        border-radius: 5px;
    }

    #account_buttons button:hover {
        background-color: #202020;
    }

    .account_dropdown:hover #account_buttons {
        display: block;
    }
}

@media screen and (max-width: 700px) {
    #container_projects {
        margin: 5rem 1rem 5rem 1rem;
    }
    .landing_header h1 {
        font-size: 2rem;
        width: 5rem;
    }

    .project {
        justify-content: center;
        width: 15rem;
    }

    .project img {
        margin: 0 0 1rem 0;
    }
}

@media screen and (max-width: 500px) {
    .landing_header h1 {
        font-size: 1.5rem;
    }

    
    #login_content {
        width: 320px;
    }

    #signin_content {
        width: 320px;
    }

    #popup_login_button{
        margin-left: 62%;
    }

    #popup_signin_button {
        margin-left: 55%;
    }
}

/* --------------------------- forgottenpassword -----------------------------*/
.landing_password h2 {
    font-family: "Flexo-Regular";
    margin-top: 3rem;
    text-align: center;
    font-size: 2.5rem;
}

#forgotpassword_content {
    height: 250px;
    width: 500px;
    background: #101014;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-right: 0;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

#forgotpassword_content h3 {
    padding-right: 1rem;
}

#forgotpassword_content fieldset{
    width: 90%;
    margin-top: 2rem;
}

#forgotpassword_content fieldset input{
    margin: 0.7rem 0 2rem 0;
    width: 100%;
    background-color: #3a3a3a;
    border-radius: 1rem;
    padding: 0.6rem;
    color: rgb(169, 169, 169);
}


#forgotpassword_content label{
    font-size: 0.9rem;
    margin-left: 0.3rem;
}

#passwordrecoverybtn{
    background-color: #3a3a3a;
    border-radius: 0.5rem;
    margin-right: 20%;
    border-color: #000000;
    border-style: solid;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    #forgotpassword_content {
        width: 400px;
    }
}

@media screen and (max-width: 500px) {
    #forgotpassword_content {
        width: 300px;
    }

    .landing_password h2 {
        font-size: 2rem;
    }  
}

@media screen and (max-width: 410px) {
    .landing_password h2 {
        font-size: 1.5rem;
    }  
}

/* --------------------------- pokeguesser -----------------------------*/
.pokeguesser_main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokeguesser_main h2 {
    font-size: 2rem;
    font-family: "Pokémon-Classic"; 
}

#pokeguesser_black {
    position: relative;
    left: 6rem;
    top: 4rem;
    width: 300px;
    height: 300px;
    filter: brightness(0%)
}

.pokeguesser_bg {
    background-image: url("../assets/images/pokemonguesserbackground.webp");
    background-repeat: no-repeat;
    background-size: contain;
    width: 760px;
    height: 428px;
    resize: both;
    border-radius: 10px;
    margin: 3rem
}


.pokeguesser_main form {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    padding: 1px;
    margin-bottom: 3rem;
    font-size: medium;
}

.pokeguesser_main label {
    font-family: "Pokémon-Classic"; 
}

#guess_input {
    font-family: "Roboto-Regular";
    text-decoration: none solid rgb(49, 49, 49);
    background-color: white;
    color: #000000;
    border: 3px solid #616161;
    padding: 5px 0px 5px 10px;
    width: 20rem;
}

#guess_button {
    font-family: "Pokémon-Classic"; 
    padding: 1.5px 0 1.5px 4px;
    background-color: #EE6B2F;
    border: 3px solid #616161;
    
}

#container_pokeguesser_image {
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#container_pokeguesser_image .close_button {
    position: absolute;
    padding-left: 18rem;
    padding-bottom: 20rem;
    font-family: "Roboto-Regular";
}


.pokeguesser_image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    border-radius: 1rem;
    background-color: #3a3a3a;
    color: white;
    font-family: "Roboto-Regular";
}

@media screen and (max-width: 900px) {
    .pokeguesser_bg {
        width: 570px;
        height: 321px;
    }

    #pokeguesser_black {
        width: 200px;
        height: 200px;
    }
}

@media screen and (max-width: 700px) {
    .pokeguesser_main h2 {
        font-size: 1rem;
    }

    .pokeguesser_bg {
        width: 380px;
        height: 214px;
    }

    #pokeguesser_black {
        left: 3rem;
        top: 2rem;
        width: 150px;
        height: 150px;
    }

    .pokeguesser_main form {
        font-size: smaller;
    }

    #guess_input {
        width: 10rem;
    }
}

@media screen and (max-width: 510px) {
    .pokeguesser_bg {
        width: 280px;
        height: 158px;
        margin: 1rem 0 1rem 0;
    }

    #pokeguesser_black {
        width: 100px;
        height: 100px;
    }

    .pokeguesser_main form {
        font-size: x-small;
    }

    #guess_input {
        width: 6rem;
    }
    
    .pokeguesser_image img {
        width: 250px;
        height: 250px;
    }

    #container_pokeguesser_image .close_button {
        padding-left: 15rem;
        padding-bottom: 17rem;
        font-size: 1.5rem;
    }
}

/*--------------pokedex--------------*/


main{
    background-color: var(--bg-color);
    padding: 1rem;
}

#pokedex > h1{ 
    margin-left: 40%;
    margin-bottom: 2rem;
}

select{
    padding: 10px;
    background-color: rgb(46, 45, 45);
    color: white;
    border-radius: 15px;
}


#pokemon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.pokedexnaam{
    font-family: "Pokémon-Classic";
    margin-top: 10%;
    margin-left: 5%;
    font-size: 20px;
}

#zoek-pokemon > input{
    margin-left: 35%;
    margin-bottom: 5rem;
    width: 30rem;
    border-radius: 10px ;
    border: solid black 1px;
}

#pokemon img{
    background-color: rgb(194, 191, 191);
    border-radius: 15px;
    width: 200px;
    transition: transform 0.3s ease;
}

#pokemon > article > a > img:hover{
    
    transform: scale(1.2);
}

article{
    padding: 1rem;
}



@media screen and (max-width: 1150px) {

    
    #zoek-pokemon > input{
        width: 30rem;
        margin-left: 30%;
    }
    
    #pokedex > h1{ 
        margin-left: 35%;
    }

}

@media screen and (max-width: 900px) {

    #pokedex > h1{ 
        margin-left: 33%;
    }
     #zoek-pokemon > input{
        margin-top: 5%;
        width: 20rem;
        margin-left: 35%;
            
    }
    #select-pokemon{
        margin-left: 45%;
    }
}


@media screen and (max-width: 700px) {


    #pokedex > h1{ 
        margin-left: 25%;
    }
     #zoek-pokemon > input{
        margin-top: 5%;
        width: 20rem;
        margin-left: 25%;
            
    }
    #select-pokemon{
        margin-left: 40%;
    }
}


@media screen and (max-width: 510px) {


    #pokedex > h1{ 
        margin-left: 0%;
    }
     #zoek-pokemon > input{
        width: 15rem;
        margin-left: 15%;
            
    }
    #select-pokemon{
        margin-left: 30%;
    }




}



/*-------pokemonvergelijking.html------------*/

#vergelijken h1{
    margin-left: 25%;
}

input{
    padding: 6px;
    width: 15rem;
}


#vergelijking{
    display: flex;
    margin-top: 5rem;
}


.Pokemons {
    background-color: rgb(194, 191, 191);
    border-radius: 15px;
    width: 30%;
    padding: 3rem;
    margin: 0 auto;
  }

  .Pokemons > img{
    margin-left: 15%;
  }

.vergelijkingnaam{
    margin-left: 25%;
    font-size: large ;
    margin-bottom: 1rem;
    font-family: "Pokémon-Classic";
}

.Pokemons > form > input{
    border: solid black 1px;
    border-radius: 15px;
    width: 90%;
}



ol  {
    display: inline;
    list-style: none;
}
ol > li{
    width: 100px;
}

.list{
    display:  flex;
    justify-content: space-evenly;
}

.more{
    background-color: rgb(17, 208, 17);
}
.less{
    background-color: rgb(238, 82, 82);
}
.even{
    background-color: rgb(156, 155, 155);
}


@media screen and (max-width: 1150px) {

    .Pokemons {
        background-color: rgb(194, 191, 191);
        border-radius: 15px;
        width: 30%;
        padding: 3rem;
        margin: 0 auto;
      }
    ol > li{
        width: 50px;
        margin: 5px;
    }
    

}

@media screen and (max-width: 900px) {


    .Pokemons {
        width: 30%;
        
    margin-bottom: 1rem;
      }


      .Pokemons > form > input{
        border: solid black 1px;
        border-radius: 15px;
        width: 100%;
    }

    ol > li{
        width: 50px;
        margin: 5px;
    }
}

@media screen and (max-width: 700px) {

    #vergelijking{
        flex-direction: column;

    }

    .Pokemons {
        width: 60%;

      }
}


/*------------------ teampage ------------------*/
#teams h1{
    font-size: 3rem;
    font-family: "Pokémon-Classic";
    max-width: fit-content;
    margin: auto;
}

#teams h2{
    font-size: 4rem;
    text-align: left;
    font-family: "Pokémon-Classic";
    max-height: fit-content;
    margin-top: -0.5rem;
    margin-bottom: 0;
}

#teams h3{
    font-size: large;
    font-family: "Pokémon-Classic";
}

#teams ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex: none;

    list-style: none;
    padding: 0;
    margin: 0;
}


#teams li{
    height: 26rem;
    width: 25rem;
    margin: 1rem;
    padding: 1rem;
    padding-top: -5;
    background-color: rgb(209, 209, 209);
    border-radius: 10%;
}

#teams img{
   max-width: min-content; 
   max-height: min-content;
   background-color: rgb(205, 205, 205);
   border-radius: 10%;
}


#teams p{
    font-size: 0.8rem;
    font-family: "Pokémon-Classic";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

#teams a{
    transition-property: var(--bg-color);
}

#teams a:nth-child(1){
    color: green;
    margin-left: 5px;
}

#teams a:last-child{
    color: var(--secondary-color);
}

#teams .empty{
    color: var(--secondary-color);
    font-weight: bold;
}

#teams a:hover{
    text-decoration: underline;
    font-weight: bold;
    transform: scale(1.05);
    transition-property: "transform";
    transition-duration: 150ms;
    transition-timing-function: ease;
}

/* --------------------------- pokevanger -----------------------------*/
.pokevanger_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pokevanger_main h2 {
    font-size: 2rem;
    font-family: "Pokémon-Classic"; 
    padding:2rem 0 5rem 0;
}

#pokevanger_bgcontainer {
    margin-bottom: 5rem;
    height: 1240px;
    max-width: 1100px;
    overflow: scroll;
}

#pokevanger_bgcontainer::-webkit-scrollbar {
    display: none;
}

#pokevanger_bg {
    background-image: url("../assets/images/pokemonSafariZone.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 1240px;
    height: 1240px;
}

#pokevanger_bg form input {
    display: none;
}

#spawn_one {
    position: relative;
    left: 7rem;
    top: 21rem;
}

#spawn_two {
    position: relative;
    left: 27rem;
    top: 21rem;
}

#spawn_three {
    position: relative;
    left: 66rem;
    top: 11rem;
}

#spawn_four {
    position: relative;
    left: 58rem;
    top: 48rem;
}

#container_pokevanger_image{
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container_pokevanger_menu {
    font-family: "Pokémon-Classic"; 
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pokevanger_menu {
    height: 350px;
    width: 300px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px 20px 20px;
    border-radius: 1rem;
}

.pokeball_button_red {
    position: relative;
    left: 6rem;
    height: 40px;
    background-color: red;
    border-radius: 50%;
    z-index: 2;
}

.pokeball_button_green {
    position: relative;
    left: 6rem;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    z-index: 2;
}

.pokevanger_menu_image {
    position: relative;
    top: 0.5rem;
    z-index: 1;
}

.pokevanger_menu h3 {
    position: relative;
    text-transform: capitalize;
}

.pokevanger_menu p {
    position: relative;
}

#container_confirmation_release {
    font-family: "Roboto-Regular";
    color: white;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    min-width: 100vw;
    min-height: 100%;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.confirmation_release {
    height: 140px;
    width: 500px;
    background: #3a3a3a;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 30px;
    border-radius: 1rem;
}

.confirmation_release p{
    font-size: 20px;
    position: relative;
    height: 50%;
    width: 100%;
    margin-bottom: 1rem;
}

.confirmation_release button, .confirmation_release input{
    width: 60px;
    border-radius: 10px;
    margin: 3px;
    border: 2px solid black;
}

.confirmation_release :nth-child(2) {
    background-color: #32d500;
}

.confirmation_release :nth-child(3) {
    background-color: #c21300;
}


.pokevanger_image {
    height: 350px;
    width: 300px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    padding: 13px;
    border-radius: 1rem;
}

#pokevanger_bgfield {
    height: 200px;
    width: 200px;
    background-image: url(../assets/images/grassfield.webp);
    background-color: #88C273;
    background-repeat: no-repeat;
    background-position: 50% 65%;
    border: 2px solid #000000;
}

#pokevanger_bgfield img {
    position: relative;
    left: 1.5rem;
    top: 0.5rem;
}

#catch_text {
    left: 3.5rem;
    bottom: 9rem;
    font-size: 10px;
    position: relative;
    display: none;
    font-family: "Pokémon-Classic"; 
    width: 0;
    height: 0;
    white-space: nowrap;
}

#missed_text {
    left: 4rem;
    bottom: 9rem;
    font-size: 10px;
    position: relative;
    display: none;
    font-family: "Pokémon-Classic"; 
    width: 0;
    height: 0;
    white-space: nowrap;
}

#pokeballs {
    left: 0.1rem;
    bottom: -1.5rem;
    font-size: 10px;
    position: relative;
    display: block;
    font-family: "Pokémon-Classic"; 
    width: 0;
    height: 0;
    white-space: nowrap;
}

#catch_button img{
    width: 70px;
    height: 70px;
}

#run_button img {
    position: relative;
    width: 110px;
    height: 42px;
}

#run_button img:active {
    transform: scale(0.9);
}

@media screen and (max-width: 1150px) {
    #pokevanger_bgcontainer {
        width: 800px;
        height: 800px;
    }
}

@media screen and (max-width: 900px) {
    #pokevanger_bgcontainer {
        width: 600px;
    }

    .pokevanger_main h2 {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 700px) {
    #pokevanger_bgcontainer {
        width: 480px;
        width: 600px;
    }

    .pokevanger_main h2 {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 510px) {
    #pokevanger_bgcontainer {
        width: 360px;  
        width: 450px;    
    }
}

@media screen and (max-width: 410px) {
    #pokevanger_bgcontainer {
        width: 285px;        
    }

    .pokevanger_main h2 {
        font-size: 1rem;
    }
}
  

/*--------detailed-----------*/

#details h1{
    width: fit-content;
    margin: auto;
}

#details h2{
    font-weight: bold;
    font-size: 2rem;
}

#detail{
    margin: auto;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(194, 191, 191);
    border-radius: 10px;
    font-family: "Pokémon-Classic";
}

#detail >article>article> form > input{
    width: 15rem;
    border-radius: 10px ;
    background-color: var(--bg-color);
}

#detail >article>article> form > input::placeholder{
    color: #ccc;
}

#detail >article>article> form > button{
   
    margin-top: 1rem;
    margin-left: 15%;
    background-color:var( --bg-color);
    border-radius: 10px;
    font-size: 15px;
    width: fit-content;
    padding: 5px;
}


#detail > article:nth-child(1){
    display: flex;
}

#detail >article> article:nth-child(2){
    margin-left: 50%;
}


#detail > article{
   margin: 10rem;
   margin-bottom: 0;
   margin-top: 0;
   width: 40%;
}

#detail > article > h2{
    margin-left: 5%;
    width: max-content;
    font-size: 2rem;
    font-weight: bold;
}


#detail > article > ol > li{
    width: 100%;
}

#detail-foto{
    max-inline-size: 200%;
    width: 150%;
    margin-left: -20%;
}

#evolution{
    display: flex;
    flex-direction: row;
}

#evolution > li{
    display: inline;
}

#evolution > li > img{
    width: 100%;
}

.arrow{
    width: 150%;
    max-inline-size: 200%;
    margin-right: 50px;
    margin-top: 15px;
}

#detail-list{
    display:  flex;
    justify-content: space-evenly;
}

#detail-list > ol >li{
    width: 13rem;
    padding: 2px;
    margin-bottom: 1rem;
    margin-right: 5rem;
}

#detail.values > li{
    padding: 2px;
    margin-bottom: 1rem;
}

/*--------media-queries-----------*/

@media screen and (max-width: 600px) {
    .keuzemenu, aside, .keuzemenu li a {
        width: 280px;
    }

    .keuzemenu li {
        margin-right: 0;
    }

    .keuzemenu h1 {
        font-size: x-large;
    }

    .home-page main {
        background-image: none;
        display: flex;
        justify-content: center;
    }
}
#evo-article > h2{
    margin-left: 40%;
}


@media screen and (max-width: 1500px) {
    
    #evolution{
        width: 200%;
        height: 150%;
    }
    .arrow{
        width: 100%;
        height: 50%;
        margin: 0;
    }
    #detail > article{
        margin: 5rem;
    }
     #detail-list > ol >li {
        margin-right: 0;
    }
    #detail > article > article:nth-child(2){
        margin-left: 30%;
    }
    #evolution > li > img{
        height: 40%;
    }
}

@media screen and (max-width: 1150px) {
    #evolution{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #detail > article > h2 {
        width: fit-content;
        margin-left: 20%;
        text-align: center;
    }
    #evolution > li > img{
        height: 100%;
    }
    .arrow{
        transform: rotate(90deg);
        width: 100%;
        height: 400px;
        margin: 0;
        /*margin-top: -20%;*/
        margin-bottom: -40%;
    }
    #detail-foto{
        width: 100%;
        margin-left: 0;
    }
    
    #evolution{
        margin-left: 10%;
    }
    #detail > article{
        margin: 5rem;
     }
    #detail > article:nth-child(1){
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}

@media screen and (max-width: 900px) {

    #detail-foto{
        width: 100%;
        margin-left: 0;
    }

     #evolution{
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         margin-left: 30%;
     }

     .arrow{
        transform: rotate(90deg);
     }
}

@media screen and (max-width: 1000px) {
    #detail-foto{
        width: 90%;
    }

    .home-page main {
        background-image: none;
    }

    #detail{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .arrow{
        margin-bottom: -10%;
        margin-top: -20%;
    }
    #detail > article > article:nth-child(2){
        margin-right: 20%;
    }
    #detail>article{
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    #evolution{
        margin-left: 0;
    }
}